.main {
	display: flex;
	margin: 30px;
	padding: 30px;
	justify-content: center;
	flex-direction: column;

	& h1 {
		font-size: 4em;
	}
	& h2 {
		color: var(--main-h2-color);
	}

	& h3 {
		color: var(--main-h3-color);
	}
	
	& * {
		text-align: center;
	}
}


.line {
	width: 400px;
	height: 0;
	margin: auto;
	border: 2px solid var(--line-color);
}

.icons {
	max-width: 900px;
	margin: auto;
	display: flex;
	height: 204px;
	justify-content: space-around;

	& div {
		display: flex;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		box-shadow: 0 0px 10px 4px var(--shadow-color);
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}
	& div svg {
		color: var(--svg-color);
		width: 150px;
		height: 150px;
	}
}






