.tooltip[text]::after {
	display: flex;
	position: absolute;
	min-width: 10px;
	content: attr(text);
	font-size: 1.4em;
	line-height: 1.4em;
	float: top;
	z-index: 100;
	background: rgb(27, 19, 20);
	color: white;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	opacity: 0;
	transition: opacity .4s;
	pointer-events: none;
}

.tooltip[text]:hover:after {
	opacity: 1;
}
