.main {
	padding: 0 2%;
	margin-bottom: 200px;
}

/*Grid*/

.grid_container {
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 240px));
	justify-content: stretch;
	gap: 20px;
	width: 100%;
	height: auto;
}

.grid_card {
	width: 200px;
	height: 100px;
	border-radius: 20px;
	padding: 20px;
	background-color: color-mix(in srgb, var(--grid-card-color) 20%, transparent);
	overflow: hidden;
	& h2 {
		margin: 0;
		word-break: break-word;
	}
}

/*Flex*/

.flex_container {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	height: auto;
}

.flex_card {
	width: 200px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 20px;
	padding: 20px;
	background-color: color-mix(in srgb, var(--flex-card-color) 20%, transparent);
	overflow: hidden;
	& h2 {
		margin: 0;
		word-break: break-word;
	}
}

/*Exchange Rate*/

.rates_container {

	position: relative;
	width: auto;
	min-height: 160px;
	max-height: 160px;
	border-radius: 40px;
	box-shadow: 0 0 10px 4px var(--shadow-color);
	margin: 20px;
	padding: 20px 0 80px 20px;
	background: var(--rates-background-color);
	overflow: hidden;

	transition: 2s;

	&.all {
		max-height: 1500px;
	}

	.info {
		position: absolute;
		top: 10px;
		right: 20px;
	}

	& h1 {
		margin: 0;
	}

	& button {
		position: absolute;
		bottom: 20px;
		color: 	var(--rates-button-text-color);
		cursor: pointer;
		font-weight: bold;
		font-size: 16px;
		background: none;
		border: none;
	}
}

.rates {
	display: grid;
	grid-template-columns: repeat(3, 120px);
	row-gap: 20px;
}

.rate {
	font-weight: bold;
}

.rate_title {
	color: var(--rates-title-color);
	margin-right: 10px;
}

